
# Dependencies
/node_modules
.DS_Store


# Build
/build
/.build
/.serverless
/src/index.ts

# local env files
.env*.local
.env

# Other
/src/serverlessAuth.ts
/src/integration/
/resources

# AWS Key Pair
*.pem
