.addJobForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textinput {
    color: white;
    background-color: black;
    width: 80%;
    margin-top: 1rem;
    height: 2.5rem;
    

}

.submitButton {
    color: white;
    margin-top: 2rem;
    
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 40%;
    background-color: #806E53;
    align-self: center;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.inputText {
    color: darkgray;
    font-size: small;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.inputContainerLarge {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 80%;
    height:50%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.inputContainerLarge > textarea {
    border: none;
    background-color: white;
    text-indent: none;
    height: 30rem;
    padding: 0;
    font-size: 18px;
    color: black;
}

.inputContainer > input {
    border: none;
    background-color: white;
    text-indent: none;
    padding: 0;
    font-size: 18px;
    color: black;
}

.formContainer > .mantine-Select-label{
    color: darkgray;
    font-size: small;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3rem;
}


