.adminActions {
    display: flex;
    justify-content: space-around;

    

}

.title {
    text-align: center;

}

.adminFunctionButton {
    color: #806E53;
    background-color: white;
    height: 5rem;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px;



}

.uploadWrapper {
    display: flex;
    flex-direction: column;
}

.upload {
    margin-top: 1rem;
}

.uploadButton > input[type="file"] {
    margin-top: 10px;
    background-color: #806E53;
    color: black;
}

.submitButton {
    background-color: #806E53;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    width: 100%
}