.jobBlockContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #808080;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 3px;


}

.jobTags {
    align-items: center;
    display: flex;
    margin-bottom: 2px;
}



.tag {
    color: rgb(140, 140, 140);
    background-color: #f5e9d9;
    width: 20%;
    font-size: small;
    font-weight: bold;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    margin-right: 0.7rem;
    margin-left: 0.5rem;
}

.title {
    margin-bottom: 1px;
    margin-left: 1px;
}


.allEmployersList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.employer {
    display: flex;
    justify-content: space-around;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
}

.additionalInfo {
    display: flex;
    align-items: center;

}

