.jobBlockContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2)

}

.title {
    margin-bottom: 1px;
}


.allEmployersList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.employer {
    display: flex;
    justify-content: space-around;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
}

.additionalInfo {
    display: flex;
    align-items: center

}

