.allEmployersList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.employerContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    margin: 2px;
    border-radius: 5px;
    align-items: center;
    
}

.employerInfo {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
}

.companyName {
    text-align: center;
    font-size: 1.5rem;
}

.jobBoardButton {
    color: black;
    font-weight: bold;
    background-color: #806e53;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 2px 2px;
    display: inline-block;
    
}

