


.jobContainer {
    display: flex;
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.filterBar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    min-width: 10rem;
    height: 50rem;
    background-color: #806E53;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-top: 0.2rem;
}

@media (max-width: 800px) {
    .jobContainer {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        margin-right: 0rem;
        align-items: center;
    }
    .filterBar {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;

    }

    }

.filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterHeader > button {
    border: none;
    background-color: #806E53;
    color: darkgray;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.divider {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
}

.location > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.jobType > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.applicantYear > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tags > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.checkbox {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.jobList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 1rem;
}

@media (max-width: 800px) {
    .jobList {
        margin-left: 0rem;
    }
}



.searchBar {
    width: 100%;
    background-color: #806E53;
    display: flex;
    padding: 1rem;
    border-radius: 0.2rem;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .searchBar {
        margin-top: 1rem;
    }
}

.searchBar > input {
    width: 85%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
    color: black;
}

.searchButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    /* width: 10%;
    min-width: 5rem; */

}

.searchButton > button {
    border: none;
    background-color: black;
    color: white;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    font-size: large;
    cursor: pointer;
}

.searchButton:hover {
    box-shadow: 0px 0px 1.5px 1.5px rgb(194, 194, 194);
    transition: 0.4s;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jobCard {
    display: flex;
    align-items: flex-start;
    background-color: white;
    margin: 0;
    padding: 1rem;
    border-radius: 0.2rem;
    width: 100%;
    margin-bottom: 1rem;
}




.jobCardHeader {
    display: flex;
    color: black;
    align-items: center;
    cursor: pointer;
}

.jobHeader {
    display: flex;
    align-items: left;
    /* margin-left: auto; */
    flex-direction: column;
    margin-right: 10rem;
    margin-left: 1.5rem;
    font-size: large;
    cursor: pointer;
}

@media (max-width: 800px) {
    .jobHeader {
        margin-right: 2rem;
    }
}
.jobCardImage {
    min-width: 4rem;
}

.jobHeader > h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
}

.additionalInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: gray;
}

.additionalInfo > h6 {
    padding: 0;
    margin: 0;
    margin-left: 0.3rem;
}

.bookmarkContainer {
    background-color: white;
    border-color: gray;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
}

@media (max-width: 800px) {
    .jobCard {
        flex-direction: column;
    }

    .bookmarkContainer {
        margin-left:0;
        margin-right: 0;
    }
}

.jobCardBody {
    color: black;
    cursor: pointer;
}

.jobCardBody > h4 {
    margin: 0;
    padding: 0;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: medium;

}

.deadline {
    font-weight: bold;
    color: gray;
}

.tag {
    color: rgb(140, 140, 140);
    background-color: #f5e9d9;
    min-width: 7%;
    font-size: small;
    font-weight: bold;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    margin-right: 0.7rem;
}

.jobTags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


.applyFilters {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: medium;
}

.applyFilters:hover {
    box-shadow: 0px 0px 1.5px 1.5px rgb(194, 194, 194);
    transition: 0.4s;
}