
.jobContainer {
    display: flex;
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.filterBar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    height: 50rem;
    background-color: #806E53;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-top: 0.2rem;
    position: fixed;
}

.filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterHeader > button {
    border: none;
    background-color: #806E53;
    color: darkgray;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.divider {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
}

.location > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.jobType > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.applicantYear > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tags > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.checkbox {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}