
.jobContainer {
    display: flex;
    margin: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.filterBar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 15%;
    height: 50rem;
    background-color: #806E53;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-top: 0.2rem;
    position: fixed;
}

.filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterHeader > button {
    border: none;
    background-color: #806E53;
    color: darkgray;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.divider {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 0.2rem;
}

.location > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.jobType > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.applicantYear > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tags > h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.checkbox {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.jobList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: auto;
}

.searchBar {
    width: 100%;
    background-color: #806E53;
    display: flex;
    padding: 1rem;
    border-radius: 0.2rem;
    justify-content: space-between;
}

.searchBar > input {
    width: 85%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
    color: black;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 10%;
}

.searchButton > button {
    border: none;
    background-color: black;
    color: white;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    font-size: large;
    cursor: pointer;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
}