.search_bar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 10px;
  }
  
  .search_input {
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  .search_btn {
    background-color: #806E53;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .search-btn:hover {
    background-color: #000;
    color: #ffd700;
  }



.removeJobCard {
  display: flex;
  flex-direction: column;
  width: 300px;
 
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.removeJobCard p {
  color: black;
  margin-bottom: 10px;
  overflow-wrap: break-word; /* Allow word wrapping */
  font-size: 14px; /* Adjust the font size as desired */
}

.removeJobCard p:first-child {
  font-weight: bold;
  font-size: 16px; /* Adjust the font size as desired */
  flex-grow: 1; /* Allow the first child to grow and wrap its text */
}

.removeJobCard p:last-child {
  font-size: 12px; /* Adjust the font size as desired */
}




  
  .jobContainer {
      display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Spacing between grid items */
  }

  .employerContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  
  
  
  