
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: sticky;
}

.card {
    height: 100%;
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'space-between';
    align-items: 'center';
    background-size: 'cover';
    background-position: 'center';
    width: 15rem;
    padding: 1rem;

}

.card > div > p {
    color: rgb(155, 155, 155);
}

.carouselContainer {
    margin-top: 1.5rem;
    display: 'flex';
    flex-direction: 'row';
    justify-content: 'center';
    align-items: 'center';
    width: 90%;
    height: 100%;
}